.flex {
    display: flex;
}

body {
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;

}

.container {
    margin: 0;
    align-items: center;
    flex-direction: column;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}



label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="text"]:focus {
    border-color: #3498db;
    background-color: #e6f7ff;
    outline: none;
}

input[type="text"]:hover {
    background-color: rgba(52, 152, 219, 0.3);
}

.custom-dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-dropdown button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

.custom-dropdown button:hover {
    background-color: rgba(52, 152, 219, 0.3);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: rgba(52, 152, 219, 0.3);
}

button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: rgb(27, 27, 27);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.show {
    display: block;
}